.app-die-svg {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.app-die-svg:hover {
    cursor: pointer;
}

.app-die-background {
    fill: #AAAAAA;
    stroke-width:3;
    stroke: #000000;
}

.app-die-selected .app-die-background {
    fill: #44da1f;
    stroke-width:3;
    stroke: #000000;
}

.app-die-dot {
    fill: #000000;
}