.app-score-board {
    border-collapse: collapse;
}

.app-score-board-upper {
    float: left;
    margin: 5px 5px 5px 5px;
}

.app-score-board-lower {
    float: left;
    margin: 5px 5px 5px 5px;
}

.app-score-board td, .app-score-board th {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
}

.app-score-board th {
    background-color: navy;
    color: white;
}

.app-score-slot-score {
    background: green;
    font-weight: bold;
    text-align: center;
}

.app-score-slot-possible {
    background: #DDDDDD;
    color: red;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}

.app-score-slot-possible:hover {
    background: #aaaaff;
    color: red;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}

.app-score-slot-none {
    background: #DDDDDD;
}

.app-score-slot-totals {
    background: #444444;
    color: white;
    font-weight: bold;
    text-align: center;
}