<div class="app-score-board-upper">
    <div>Upper Section:</div>
    <table class="app-score-board">
        <tr>
            <th></th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let scoreKey of UpperScoreSlotKeys">
            <th>{{ getScoreSlotTitle(scoreKey) }}</th>
            <ng-container [ngSwitch]="getScoreSlotViewType(scoreKey)">
                <td
                    *ngSwitchCase="'score'"
                    class="app-score-slot-score"
                >{{ getCurrentScore(scoreKey) }}</td>
                <td
                    *ngSwitchCase="'possible'"
                    (click)="scoreSlotSelected(scoreKey)"
                    class="app-score-slot-possible"
                >{{ getPossibleScore(scoreKey) }}</td>
                <td
                    *ngSwitchCase="'none'"
                    class="app-score-slot-none"
                ></td>
            </ng-container>
        </tr>
    </table>
</div>

<div class="app-score-board-lower">
    <div>Lower Section:</div>
    <table class="app-score-board">
        <tr>
            <th></th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let scoreKey of LowerScoreSlotKeys">
            <th>{{ getScoreSlotTitle(scoreKey) }}</th>
            <ng-container [ngSwitch]="getScoreSlotViewType(scoreKey)">
                <td
                    *ngSwitchCase="'score'"
                    class="app-score-slot-score"
                >{{ getCurrentScore(scoreKey) }}</td>
                <td
                    *ngSwitchCase="'possible'"
                    (click)="scoreSlotSelected(scoreKey)"
                    class="app-score-slot-possible"
                >{{ getPossibleScore(scoreKey) }}</td>
                <td
                    *ngSwitchCase="'none'"
                    class="app-score-slot-none"
                ></td>
            </ng-container>
        </tr>
    </table>
</div>